@import 'vars';
@import 'mixins';


* {
  box-sizing: border-box;
}

body, html {
	background-color: $notwhite;
	min-height: 100%;
}

h4 {
	font-family: $head;
	font-weight: 400;
	font-size: 2.5em;
	line-height: 1.2em;
	letter-spacing: 0.1em;
	color: $grey;
	text-transform: uppercase;
	@media screen and (max-width: 1000px) {font-size: 2em;}
	@media screen and (max-width: 700px) {font-size: 1.5em;}
}

p {
	font-family: $body;
	font-weight: 400;
	color: $black;
	font-size: 1em;
	line-height: 1.4em;	
	@media screen and (max-width: 1000px) {font-size: 1em;}
	@media screen and (max-width: 700px) {font-size: 0.8em;}
}

.landscape-wrap {
	width: 100%;
	padding-top: 0px;
	position: relative;
	display: block;
	height: 1600px;

	.landscape {
		position: fixed;
		width: 100%;
		height: 1650px;
		background-position: bottom center;
	    background-size: auto 1650px;
	    background-repeat: repeat-x;
	    transform: translate3d(0px, 0px, 0px);
	}
	#l5 {
		background-image: url('../images/landscape-5.png');
		z-index: 1;
	}
	#l4 {
		background-image: url('../images/landscape-4.png');
		z-index: 2;
	}
	#l3 {
		background-image: url('../images/landscape-3.png');
		z-index: 3;
	}
	#l2 {
		background-image: url('../images/landscape-2.png');
		z-index: 4;
	}
	#l1 {
		background-image: url('../images/landscape-1.png');
		z-index: 6;
		position: absolute;
	}
	.logo {
		width: 200px;
		margin: 0 auto;
		padding-top: 30px;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.main-wrap {
	background-color: $notwhite;
	height: auto;
	width: 100%;
	z-index: 5;
	position: relative;
	display: block;

	.trailer-wrap, .overview-wrap, .screenshot-wrap, .details-wrap {
		width: 100%;

		h4 {
			padding-bottom: 50px;
		}
	}

	.trailer-wrap {
		padding-top: 50px;
		text-align: center;

		.trailer-container{
			width: 800px;
			height: 450px;
			background-color: $black;
			margin: 0 auto;
		}
	}

	.overview-wrap {
		padding-top: 200px;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}

	.screenshot-wrap {
		padding-top: 200px;
		width: 80%;
		margin: 0 auto;
		text-align: center;

		.screenshot {
			width: 45%;
			padding: 10px;
			display: inline-block;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.details-wrap {
		height: 500px;
	}	
}

.fog {
	width: 100%;
	position: relative;
	z-index: 10;

	.foggy-woggy {
		width: 100%;
		height: 2000px;
		top: 0px;
		position: fixed;
		animation: foggy 10s alternate linear infinite;
		-webkit-animation: foggy 10s alternate linear infinite;
		-ms-animation: foggy 10s alternate linear infinite;
	}

	#fog-1 {
		background-image: url('../images/fog-02.png');
		z-index: 11;
	}
	#fog-2 {
		background-image: url('../images/fog-03.png');
		z-index: 12;
	}
	#fog-3 {
		background-image: url('../images/fog-04.png');
		z-index: 13;
	}
	#fog-4 {
		background-image: url('../images/fog-05.png');
		z-index: 14;
	}
	#fog-5 {
		background-image: url('../images/fog-06.png');
		z-index: 15;
	}
	#fog-6 {
		background-image: url('../images/fog-07.png');
		z-index: 16;
	}
	#fog-7 {
		background-image: url('../images/fog-08.png');
		z-index: 17;
	}
	#fog-8 {
		background-image: url('../images/fog-09.png');
		z-index: 18;
	}
	#fog-9 {
		background-image: url('../images/fog-10.png');
		z-index: 19;
	}
	#fog-10 {
		background-image: url('../images/fog-11.png');
		z-index: 20;
	}
	#fog-11 {
		background-image: url('../images/fog-12.png');
		z-index: 21;
	}
	#fog-12 {
		background-image: url('../images/fog-13.png');
		z-index: 22;
	}
}

@-webkit-keyframes foggy {
	0%   {
		-webkit-transform: translate3d(0, 0) ;
		-ms-transform: translate3d(0, 0) ;
		transform: translate3d(0, 0) ;
	}
	100% {
		-webkit-transform: translate3d(0, 0) ;
		-ms-transform: translate3d(0, 0) ;
		transform: translate3d(0, 0) ;
	}
}


.wavy-shmavy {
	width: 100%;
	bottom: 0;
	position: relative;
	display: block;
	background-color: $notwhite;
	z-index: 6;
	height: 230px;

	.wavy {
		position: absolute;;
		width: 100%;
		height: 230px;
		background-position: bottom center;
	    background-size: auto 230px;
	    background-repeat: repeat-x;
	    transform: translate3d(0px, 0px, 0px);
	}

	#wave-3 {
		background-image: url('../images/waves-3.png');
		z-index: 7;
	}
	
	#wave-2 {
		background-image: url('../images/waves-2.png');
		z-index: 8;
	}

	#wave-1 {
		background-image: url('../images/waves-1.png');
		z-index: 9;
	}
	
}